.converter-container {
    padding: 20px;
    max-width: 420px;
    border: 5px solid #008080;
    border-radius: 8px;
}

.input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
input:hover{
    background-color:aquamarine;
}

.result {
    font-weight: bold;
    color: #007bff;
    font-size: 1.2rem;
}
