@page "/groups/create"
@using Microsoft.EntityFrameworkCore
@using Academy.Models
@inject IDbContextFactory<Academy.Data.AcademyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Group</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Group" OnValidSubmit="AddGroup" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="group_name" class="form-label">group_name:</label> 
                <InputText id="group_name" @bind-Value="Group.group_name" class="form-control" /> 
                <ValidationMessage For="() => Group.group_name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="direction" class="form-label">direction:</label> 
                <InputNumber id="direction" @bind-Value="DirectionInput" class="form-control" />
                <ValidationMessage For="() => DirectionInput" class="text-danger" />
            </div>        
            <div class="mb-3">
                <label for="learning_days" class="form-label">learning_days:</label> 
                <InputNumber id="learning_days" @bind-Value="LearningDaysInput" class="form-control" />
                <ValidationMessage For="() => LearningDaysInput" class="text-danger" />
            </div>        
            <div class="mb-3">
                <label for="start_time" class="form-label">start_time:</label> 
                <input type="time"
                       id="start_time"
                       @bind="Group.start_time"
                       @bind:format="HH:mm" class="form-control" />
                <ValidationMessage For="() => Group.start_time" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/groups">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Group Group { get; set; } = new();

    public TimeOnly start_time { get; set; }

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.

    private int DirectionInput
    {
        get => Group.direction;
        set
        {
            if (value >= 0 && value <= 255)
                Group.direction = (byte)value;
        }
    }

    private int LearningDaysInput
    {
        get => Group.learning_days; 
        set
        {
            
            if (value >= 0 && value <= 255)
                Group.learning_days = (byte)value;

        }
    }

    private async Task AddGroup()
    {
        using var context = DbFactory.CreateDbContext();
        context.Groups.Add(Group);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/groups");
    }
}
