@page "/groups/edit"
@using Microsoft.EntityFrameworkCore
@using Academy.Models
@inject IDbContextFactory<Academy.Data.AcademyContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Group</h2>
<hr />
@if (Group is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Group" OnValidSubmit="UpdateGroup" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Group.group_id" value="@Group.group_id" />
                <div class="mb-3">
                    <label for="group_name" class="form-label">group_name:</label>
                    <InputText id="group_name" @bind-Value="Group.group_name" class="form-control" />
                    <ValidationMessage For="() => Group.group_name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="direction" class="form-label">direction:</label>
                    <InputSelect id="direction_select" @bind-Value="SelectedDirectionId" class="form-control">
                        <option value="">-- Select Direction --</option>
                        @foreach (var dir in DirectionOptions)
                        {
                            <option value="@dir.direction_id">@dir.direction_name</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => SelectedDirectionId" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="learning_days" class="form-label">learning_days:</label>
                    @* Понедельник (0) *@
                    <div class="form-check">
                        <InputCheckbox id="learning_days_mon" @bind-Value="IsMondaySelected" />
                        <label class="form-check-label" for="learning_days_mon">Monday</label>
                    </div>
                    @* Вторник (1) *@
                    <div class="form-check">
                        <InputCheckbox id="learning_days_tue" @bind-Value="IsTuesdaySelected" />
                        <label class="form-check-label" for="learning_days_tue">Tuesday</label>
                    </div>
                    @* Среда (2) *@
                    <div class="form-check">
                        <InputCheckbox id="learning_days_wed" @bind-Value="IsWednesdaySelected" />
                        <label class="form-check-label" for="learning_days_wed">Wednesday</label>
                    </div>
                    @* Четверг (3) *@
                    <div class="form-check">
                        <InputCheckbox id="learning_days_thu" @bind-Value="IsThursdaySelected" />
                        <label class="form-check-label" for="learning_days_thu">Thursday</label>
                    </div>
                    @* Пятница (4) *@
                    <div class="form-check">
                        <InputCheckbox id="learning_days_fri" @bind-Value="IsFridaySelected" />
                        <label class="form-check-label" for="learning_days_fri">Friday</label>
                    </div>
                    @* Суббота (5) *@
                    <div class="form-check">
                        <InputCheckbox id="learning_days_sat" @bind-Value="IsSaturdaySelected" />
                        <label class="form-check-label" for="learning_days_sat">Saturday</label>
                    </div>
                    @* Воскресенье (6) *@
                    <div class="form-check">
                        <InputCheckbox id="learning_days_sun" @bind-Value="IsSundaySelected" />
                        <label class="form-check-label" for="learning_days_sun">Sunday</label>
                    </div>
                    @* Валидационное сообщение для всех дней *@
                    <ValidationMessage For="() => Group.learning_days" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="start_time" class="form-label">start_time:</label>                
                    <InputDate Type="InputDateType.Time" @bind-Value="Group.start_time" class="form-control" />
                    <ValidationMessage For="() => Group.start_time" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/groups">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int group_id { get; set; }

    [SupplyParameterFromForm]
    private Group? Group { get; set; }

    private List<Direction> DirectionOptions { get; set; } = new List<Direction>();

    private string SelectedDirectionId
    {
        get => Group!.direction.ToString(); // Преобразуем byte ID в строку
        set
        {
            if (byte.TryParse(value, out byte parsedId))
            {
                Group!.direction = parsedId;
            }
        }
    }

    private bool IsMondaySelected { get => IsDaySelected(0); set => ToggleDaySelection(value, 0); }
    private bool IsTuesdaySelected { get => IsDaySelected(1); set => ToggleDaySelection(value, 1); }
    private bool IsWednesdaySelected { get => IsDaySelected(2); set => ToggleDaySelection(value, 2); }
    private bool IsThursdaySelected { get => IsDaySelected(3); set => ToggleDaySelection(value, 3); }
    private bool IsFridaySelected { get => IsDaySelected(4); set => ToggleDaySelection(value, 4); }
    private bool IsSaturdaySelected { get => IsDaySelected(5); set => ToggleDaySelection(value, 5); }
    private bool IsSundaySelected { get => IsDaySelected(6); set => ToggleDaySelection(value, 6); }


    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();

        DirectionOptions = await context.Directions.ToListAsync();

        Group ??= await context.Groups
                .Include(g => g.Direction)
                .FirstOrDefaultAsync(m => m.group_id == group_id);

        if (Group is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private bool IsDaySelected(int dayOfWeek)
    {
        // dayOfWeek: 0 - Понедельник, 1 - Вторник, ..., 6 - Воскресенье
        return (Group!.learning_days & (1 << dayOfWeek)) != 0;
    }

    private void ToggleDaySelection(bool isSelected, int dayOfWeek)
    {
        if (isSelected)
        {
            // Устанавливаем бит
            Group!.learning_days |= (byte)(1 << dayOfWeek);
        }
        else
        {
            // Сбрасываем бит
            Group!.learning_days &= (byte)~(1 << dayOfWeek);
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateGroup()
    {
        using var context = DbFactory.CreateDbContext();
        if (context.Entry(Group!).State == EntityState.Detached)
        {
            context.Attach(Group!).State = EntityState.Modified;
        }
        else if (context.Entry(Group!).State == EntityState.Unchanged)
        {
            context.Entry(Group!).State = EntityState.Modified;
        }

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!GroupExists(Group!.group_id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/groups");
    }

    private bool GroupExists(int group_id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Groups.Any(e => e.group_id == group_id);
    }
}
