@page "/Bitmap"

<PageTitle>Bitmap</PageTitle>

<h3>Bitmap</h3>

<p>Растровое изображение (растровая графика) — цифровое изображение, состоящее из сетки цветных точек (пикселей), расположенных на прямоугольной сетке. Каждый пиксель представляет собой крошечный прямоугольник или квадрат определённого цвета. Собранные вместе, эти пиксели создают целостное изображение, подобно тому, как мозаика складывается из отдельных элементов.</p>

@code {

}
